.app {
  width: 350px;
  height: 100vh;
  padding: 30px;
}

.todo-list {
  border-radius: 4px;
  max-width: 100%;
  padding: 2px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}